@model FPTManagerSutdent.Models.Student

@{
    ViewData["Title"] = "Create";
    var clrs = ViewData["clrs"] as List<ClassRoom>;

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card m-t-30">
    <div class="card-header">
        Thêm mới sinh viên
        <div class="create pull-right" style="text-align: right">
            <p>
                <a asp-action="Index"><span class="glyphicon glyphicon-plus"></span>Quay Lại</a>
            </p>
        </div>
    </div>
    <div class="card-body card-block">
        <form asp-action="Create" class="form-horizontal">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row form-group">
                <div class="col col-md-3">
                    <label asp-for="Name" class=" form-control-label"></label>
                </div>
                <div class="col-12 col-md-9">
                    <input asp-for="Name" class="form-control" type="text">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col col-md-3">
                    <label asp-for="Email" class=" form-control-label"></label>
                </div>
                <div class="col-12 col-md-9">
                    <input asp-for="Email" type="email" class="form-control">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col col-md-3">
                    <label asp-for="Password" class=" form-control-label"></label>
                </div>
                <div class="col-12 col-md-9">
                    <input asp-for="Password" type="password" class="form-control">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col col-md-3">
                    <label asp-for="Gender" class=" form-control-label"></label>
                </div>
                <div class="col col-md-9">
                    @foreach (var gender in Enum.GetValues(typeof(GenderStudent)))
                    {
                        <div class="form-check">
                            <div class="radio">
                                <label for="radio1" class="form-check-label ">
                                    <input asp-for="Gender" type="radio" value="@gender" class="form-check-input">@gender
                                    <span asp-validation-for="Gender" class="text-danger"></span>
                                </label>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="row form-group">
                <div class="col col-md-3">
                    <label asp-for="Phone" class=" form-control-label"></label>
                </div>
                <div class="col-12 col-md-9">
                    <input asp-for="Phone" type="number" class="form-control">
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col col-md-3">
                    <label asp-for="Address" class=" form-control-label"></label>
                </div>
                <div class="col-12 col-md-9">
                    <input asp-for="Address" rows="5" class="form-control"></input>
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col col-md-3">
                    <label asp-for="DoB" class=" form-control-label"></label>
                </div>
                <div class="col-12 col-md-9">
                    <input asp-for="DoB" type="date" class="form-control">
                    <span asp-validation-for="DoB" class="text-danger"></span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col col-md-3">
                    <label asp-for="StudentClassRooms" class="control-label"></label>
                </div>
                <div class="col col-md-9">
                    @foreach (var c in clrs)
                    {
                        <div class="form-check">
                            <div class="checkbox">
                                <label for="checkbox1" class="form-check-label ">
                                    <input type="checkbox" id="checkbox1" name="ClassRoomId[]" value="@c.Id" class="form-check-input">@c.Name
                                </label>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="pull-right">
                <button type="submit" class="btn btn-primary btn-cus ">
                    Submit
                </button>
                <button type="reset" class="btn btn-danger btn-cus ">
                    Reset
                </button>
            </div>
        </form>
    </div>
</div>



