@model FPTManagerSutdent.Models.Student

@{
    ViewData["Title"] = "Edit";
    var cs = ViewData["cs"] as List<ClassRoom>;
}
<hr />
<div class="card m-t-30">
    <div class="card-header">
        Sửa thông tin học sinh
        <div class="create pull-right" style="text-align: right">
            <p>
                <a asp-action="Index"><span class="glyphicon glyphicon-plus"></span>Back to List</a>
            </p>
        </div>
    </div>
    <div class="card-body card-block">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="row form-group">
                <div class="col col-md-3">
                    <label asp-for="Name" class="control-label"></label>
                </div>
                <div class="col-12 col-md-9">
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col col-md-3">
                    <label asp-for="Email" class="control-label"></label>
                </div>
                <div class="col-12 col-md-9">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col col-md-3">
                    <label asp-for="Gender" class="control-label"></label>
                </div>
                <div class="col-12 col-md-9">
                    <select asp-for="Gender" class="form-control" style="padding: 5px">
                        @foreach (var gender in Enum.GetValues(typeof(GenderStudent)))
                        {
                            <option value="@gender">@gender</option>
                        }
                    </select>
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col col-md-3">
                    <label asp-for="Phone" class="control-label"></label>
                </div>
                <div class="col-12 col-md-9">
                    <input asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col col-md-3">
                    <label asp-for="Address" class="control-label"></label>
                </div>
                <div class="col-12 col-md-9">
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col col-md-3">
                    <label asp-for="DoB" class="control-label"></label>
                </div>
                <div class="col-12 col-md-9">
                    <input asp-for="DoB" class="form-control" />
                    <span asp-validation-for="DoB" class="text-danger"></span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col col-md-3">
                    <label asp-for="StudentClassRooms" class="control-label"></label>
                </div>
                <div class="col-12 col-md-9">
                    <ul style="list-style-type: none">
                        @foreach (var c in cs)
                        {
                            <li><input type="checkbox" value="@c.Id" name="ClassRoomId[]" /> @c.Name</li>
                        }
                    </ul>
                </div>
            </div>
            <div class="pull-right">
                <input type="submit" value="Save" class="btn btn-primary btn-cus" />
            </div>
        </form>
    </div>
</div>