@model FPTManagerSutdent.Models.Mark

@{
    ViewData["Title"] = "Create";
}


<div class="card m-t-30">
    <div class="card-header">
        Thêm điểm cho sinh viên
        <div class="create  pull-right" style="text-align: right">
            <p>
                <a asp-action="Index"><span class="glyphicon glyphicon-plus"></span>Back to List</a>
            </p>
        </div>
    </div>
    <div class="card-body card-block">
        <form asp-action="Create" class="form-horizontal">
            <div asp-validation-summary="All" class="text-danger">
                <h5 class="text-danger">@TempData["Fail"]</h5>
            </div>
            <div class="row form-group">
                <div class="col col-md-3">
                    <label asp-for="Type" class="control-label"></label>
                </div>
                <div class="col-12 col-md-9">
                    <select asp-for="Type" class="form-control" style="height: 35px">
                        <option value="@MarkType.THEORY">Theory</option>
                        <option value="@MarkType.PRATICE">Pratice</option>
                        <option value="@MarkType.ASSIGNMENT">Assignment</option>
                    </select>
                    <span asp-validation-for="Type" class="text-danger"></span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col col-md-3">
                    <label asp-for="Value" class=" form-control-label"></label>
                </div>
                <div class="col-12 col-md-9">
                    <input asp-for="Value" type="text" class="form-control">
                    <span asp-validation-for="Value" class="text-danger"></span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col col-md-3">
                    <label asp-for="CourseId" class="control-label"></label>
                </div>
                <div class="col-12 col-md-9">
                    <select asp-for="CourseId" class="form-control" asp-items="ViewBag.CourseId" style="height: 35px"></select>
                </div>
            </div>
            <div class="row form-group" style="height: 35px">
                <div class="col col-md-3">
                    <label asp-for="StudentId" class="control-label"></label>
                </div>
                <div class="col-12 col-md-9">
                    <select asp-for="StudentId" class="form-control" asp-items="ViewBag.StudentId" style="height: 35px"></select>
                </div>
            </div>
            <div class="pull-right">
                <button type="submit" class="btn btn-primary btn-cus">
                    <i class="fa fa-dot-circle-o"></i> Submit
                </button>
                <button type="reset" class="btn btn-danger btn-cus">
                    <i class="fa fa-ban"></i> Reset
                </button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
