@model FPTManagerSutdent.Models.Mark

@{
    ViewData["Title"] = "Edit";
}
<hr />
<div class="card m-t-30">
    <div class="card-header">
        Sửa thông tin Điểm
        <div class="create pull-right" style="text-align: right">
            <p>
                <a asp-action="Index"><span class="glyphicon glyphicon-plus"></span>Back to List</a>
            </p>
        </div>
    </div>
    <div class="card-body card-block">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="row form-group">
                <div class="col col-md-3">
                    <label asp-for="Type" class="control-label"></label>
                </div>
                <div class="col-12 col-md-9">
                    <input asp-for="Type" class="form-control" />
                    <span asp-validation-for="Type" class="text-danger"></span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col col-md-3">
                    <label asp-for="Value" class="control-label"></label>
                </div>
                <div class="col-12 col-md-9">
                    <input asp-for="Value" class="form-control" />
                    <span asp-validation-for="Value" class="text-danger"></span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col col-md-3">
                    <label asp-for="CreatedAt" class="control-label"></label>
                </div>
                <div class="col-12 col-md-9">
                    <input asp-for="CreatedAt" class="form-control" />
                    <span asp-validation-for="CreatedAt" class="text-danger"></span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col col-md-3">
                    <label asp-for="UpdateAt" class="control-label"></label>
                </div>
                <div class="col-12 col-md-9">
                    <input asp-for="UpdateAt" class="form-control" />
                    <span asp-validation-for="UpdateAt" class="text-danger"></span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col col-md-3">
                    <label asp-for="CourseId" class="control-label"></label>
                </div>
                <div class="col-12 col-md-9">
                    <input asp-for="CourseId" class="form-control" />
                    <span asp-validation-for="CourseId" class="text-danger"></span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col col-md-3">
                    <label asp-for="StudentId" class="control-label"></label>
                </div>
                <div class="col-12 col-md-9">
                    <input asp-for="StudentId" class="form-control" />
                    <span asp-validation-for="StudentId" class="text-danger"></span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col col-md-3">
                    <label asp-for="Status" class="control-label"></label>
                </div>
                <div class="col-12 col-md-9">
                    <input asp-for="Status" class="form-control" />
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
            </div>
            <div class="pull-right">
                <input type="submit" value="Save" class="btn btn-primary btn-cus" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
